
.admin-status{
    margin-top: 1.3rem;
}
.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(30, 213, 184, 0.49);
    padding: 10px;
    border-radius: 8px;
}

 .admin-status .admin-list{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.admin-status .admin-list:hover{
    box-shadow: none;
}

.admin-status .admin-list .admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-status .admin-list .admin img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}



.admin:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
